### Building a recommendation system with restaurants in London

### Ideas

#### < Maybe find a map dataset or something to get geo data for each restaurant, would be nice to have a cuisine datapoint too

#### < NLP angle with the reviews textual data

#### < Can use date as a factor, more recent the review, the more weighting it should have

#### < What does good look like? Like what is a 'good' recommendation?

_______________________________________________________________________

### Factor Release Plan

#### Release 1

##### 1. Initial recommender based on review value and volume
##### 2. Involve date as a factor of review reliability
##### 3. Introduce textual NLP analysis of reviews as another way of weighting
##### 4. Bring in geo data for people to select areas or something?
##### 5. Would be nice to webscrape cuisine as a datapoint too
##### 6. Could also include author id as a factor - potentially someone who posts lots of reviews are more reliable?

In [1]:
# importing libraries
import pandas as pd
import numpy as np
import json
from sklearn.feature_extraction.text import TfidfVectorizer
import re
import dateutil.parser as parser
from datetime import datetime, date, timedelta
import torch
import skorch
import scipy
import torch.nn as nn
import torch
import torch.nn.functional as F
import sys
from skorch.helper import DataFrameTransformer
import time
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import GridSearchCV, cross_val_score
from sklearn.svm import SVC
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score, mean_squared_error, r2_score
from sklearn import metrics
from sklearn.preprocessing import FunctionTransformer
from skorch.callbacks import EarlyStopping
from sklearn.pipeline import Pipeline
from skorch import NeuralNetRegressor
import pickle
import emoji
import requests
from bs4 import BeautifulSoup

In [2]:
initial_df = pd.read_csv('Data/London_reviews.csv')

C:\Users\ndsna\AppData\Local\Temp\ipykernel_20832\2783312507.py:1: DtypeWarning: Columns (0,1,3) have mixed types. Specify dtype option on import or set low_memory=False.
  initial_df = pd.read_csv('Data/London_reviews.csv')

In [3]:
print(initial_df)

       Unnamed: 0 parse_count       restaurant_name rating_review    sample  \
0               0           1  Cocotte_Notting_Hill           5.0  Positive
1               1           2  Cocotte_Notting_Hill           5.0  Positive
2               2           3  Cocotte_Notting_Hill           5.0  Positive
3               3           4  Cocotte_Notting_Hill           5.0  Positive
4               4           5  Cocotte_Notting_Hill           5.0  Positive
...           ...         ...                   ...           ...       ...
996562     999995      999996       The_Old_Brewery           4.0  Positive
996563     999996      999997       The_Old_Brewery           2.0  Negative
996564     999997      999998       The_Old_Brewery           5.0  Positive
996565     999998      999999       The_Old_Brewery           5.0  Positive
996566     999999     1000000       The_Old_Brewery           3.0  Negative

               review_id                                       title_review  \
0       review_771556136                                       JUST PERFECT
1       review_771555883  Quality food, Food travels well, Excellent cus...
2       review_770716943                        Came here because we missed
3       review_770027676                                      Great service
4       review_766307138                 𝓔𝔁𝓬𝓮𝓵𝓵𝓮𝓷𝓽 𝓕𝓪𝓻𝓶-𝓽𝓸-𝓣𝓪𝓫𝓵𝓮 𝓡𝓸𝓽𝓲𝓼𝓼𝓮𝓻𝓲𝓮
...                  ...                                                ...
996562  review_665762822                                              Lunch
996563  review_664749502                                    Flat atmosphere
996564  review_663033085                          Lovely Mother’s Day Lunch
996565  review_662538673                        Lovely relaxing lunch venue
996566  review_659900789                      Special was not that special

                                           review_preview  \
0       I was away for couple of months and  I am so h...
1       I recently ordered over the phone from Cocotte...
2       Came here because we missed our table at Farma...
3       My first time in cocotte and was amazed by how...
4       A healthy-homemade dishes using farm-grown ing...
...                                                   ...
996562  Popped in for a lunch time snack when visiting...
996563  Visited once before a couple of years previous...
996564  My husband and I had a wonderful lunch here on...
996565  Had a very enjoyable lunch here, catching up w...
996566  I have been to The Old Brewery under his previ...

                                              review_full                date  \
0       I was away for couple of months and I am so ha...  September 23, 2020
1       I recently ordered over the phone from Cocotte...  September 23, 2020
2       Came here because we missed our table at Farma...  September 17, 2020
3       My first time in cocotte and was amazed by how...  September 12, 2020
4       A healthy-homemade dishes using farm-grown ing...     August 22, 2020
...                                                   ...                 ...
996562  Popped in for a lunch time snack when visiting...      April 12, 2019
996563  Visited once before a couple of years previous...       April 8, 2019
996564  My husband and I had a wonderful lunch here on...       April 2, 2019
996565  Had a very enjoyable lunch here, catching up w...      March 31, 2019
996566  I have been to The Old Brewery under his previ...      March 20, 2019

                  city                                     url_restaurant  \
0       London_England  https://www.tripadvisor.com/Restaurant_Review-...
1       London_England  https://www.tripadvisor.com/Restaurant_Review-...
2       London_England  https://www.tripadvisor.com/Restaurant_Review-...
3       London_England  https://www.tripadvisor.com/Restaurant_Review-...
4       London_England  https://www.tripadvisor.com/Restaurant_Review-...
...                ...                                                ...
996562  London_England  https://www.tripadvisor.com/Restaurant_Review-...
996563  London_England  https://www.tripadvisor.com/Restaurant_Review-...
996564  London_England  https://www.tripadvisor.com/Restaurant_Review-...
996565  London_England  https://www.tripadvisor.com/Restaurant_Review-...
996566  London_England  https://www.tripadvisor.com/Restaurant_Review-...

         author_id
0            UID_0
1            UID_1
2            UID_2
3            UID_3
4            UID_4
...            ...
996562  UID_211196
996563  UID_186355
996564  UID_502226
996565  UID_502227
996566  UID_502228

[996567 rows x 13 columns]

In [4]:
# dropping some unwanted columns from the initial dataset
df = initial_df.drop(['Unnamed: 0','parse_count'],axis=1)
df = df.dropna(subset=['url_restaurant'])
# making a new name column which removes the underscores
df['restaurant_name_clean'] = [(str(s).replace('_', ' ')) for s in df['restaurant_name']]

In [7]:
gmaps1 = pd.read_csv('Data/Restaurant_Location_Details_2.0.csv')
gmaps1 = gmaps1.drop_duplicates(keep='first')

gmaps2 = pd.read_csv(('Data/Restaurant_Location_Additional_Details.csv'))
gmaps2 = gmaps2.drop_duplicates(keep='first')

gmapsdata = gmaps2.merge(gmaps1, how='left', on='place_id')

gmaps3 = pd.read_csv('Data/Restaurant_Cuisine_and_Loc.csv')
gmaps3 = gmaps3.drop_duplicates(keep='first')

gmapsdata2 = gmaps3.merge(gmapsdata, how='left', left_on='id', right_on='place_id')

In [8]:
df_merged = df.merge(gmapsdata2, how='left', left_on='restaurant_name_clean', right_on='TA_Names')

df_merged.to_csv('Data/Merged_TA_Gmaps_Dataset_2.0.csv')

In [9]:
df_merged.groupby('primaryType').agg({'primaryType': 'count'})

                           primaryType
primaryType
american_restaurant              15443
art_gallery                        271
bakery                            1835
bar                             104554
barbecue_restaurant               4110
beauty_salon                       298
brazilian_restaurant              1849
breakfast_restaurant              3439
brunch_restaurant                  847
cafe                             15107
chinese_restaurant               13173
clothing_store                     455
coffee_shop                       2688
department_store                   164
event_venue                       3286
french_restaurant                57285
greek_restaurant                 10830
grocery_store                       55
hair_salon                         855
hamburger_restaurant             11747
historical_landmark                713
hotel                             2942
indian_restaurant                79247
indonesian_restaurant              499
italian_restaurant               96619
japanese_restaurant              19622
korean_restaurant                 1991
lebanese_restaurant               7678
market                             627
meal_takeaway                     1692
mediterranean_restaurant         18370
mexican_restaurant               12358
middle_eastern_restaurant         5679
museum                            1944
night_club                        1548
performing_arts_theater            246
pizza_restaurant                 14464
point_of_interest                   99
ramen_restaurant                  2131
restaurant                      296972
sandwich_shop                     1904
seafood_restaurant               21679
spanish_restaurant               16094
steak_house                      55544
sushi_restaurant                  5078
thai_restaurant                  13201
turkish_restaurant               21034
vegan_restaurant                  6087
vegetarian_restaurant             1361
vietnamese_restaurant             5741

In [13]:
# merging the main Tripadvisor dataset with the new Google Maps data sourced from the API scripts

# as some of the restaurant names in the Tripadvisor dataset are slightly different to as recorded 
# on Google Maps (an example is "Genzo Greek" in Tripadvisor is "GENZO" on Google Maps), we will need to 
# perform some fuzzy matching between the two datasets in order to merge them.
import difflib

# gmapsdata['fuzzy_name'] = gmapsdata['name'].apply(lambda x: difflib.get_close_matches(x, df['restaurant_name_clean'].unique(), n=1)[0])

from fuzzywuzzy import process
from fuzzywuzzy import fuzz

# following function adapted from the below link:
# https://stackoverflow.com/questions/13636848/is-it-possible-to-do-fuzzy-match-merge-with-python-pandas
def fuzzy_merge(df_1, df_2, key1, key2, threshold=95, limit=1):
    """
    :param df_1: the left table to join
    :param df_2: the right table to join
    :param key1: key column of the left table
    :param key2: key column of the right table
    :param threshold: how close the matches should be to return a match, based on Levenshtein distance
    :param limit: the amount of matches that will get returned, these are sorted high to low
    :return: dataframe with boths keys and matches
    """
    s = df_2[key2].tolist()
    
    m = df_1.apply(lambda x: process.extract(x, s, limit=limit))    
    df_1['matches'] = m
    
    m2 = df_1['matches'].apply(lambda x: ', '.join([i[0] for i in x if i[1] >= threshold]))
    df_1['matches'] = m2
    
    return df_1

dfnames = pd.Series(df['restaurant_name_clean'].unique())
merged = fuzzy_merge(dfnames, gmapsdata, 'restaurant_name_clean', 'name', threshold=80)

In [14]:
GM_names = merged.iloc[1834]
TA_names = merged.iloc[0:1834]

merged_names = pd.concat([TA_names, GM_names], axis=1, join='outer')
merged_names = merged_names.rename(columns={0: "Tripadvisor", 1: "Gmaps"})

merged_names.to_csv('Merged_Names2.csv')

In [11]:
df2 = df.merge(merged_names, left_on='restaurant_name_clean', right_on='Tripadvisor')
df_merged = df2.merge(gmapsdata, left_on='Gmaps', right_on='name', how='left')
test = df2.merge(gmapsdata, left_on='Gmaps', right_on='name', how='inner')