### Recommendation using reviews - NLP (TF-IDF)

In [1]:
# importing libraries
import pandas as pd
import numpy as np
import json
from sklearn.feature_extraction.text import TfidfVectorizer
import re
import dateutil.parser as parser
from datetime import datetime, date, timedelta
import torch
import skorch
import scipy
import torch.nn as nn
import torch
import torch.nn.functional as F
import sys
from skorch.helper import DataFrameTransformer
import time
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import GridSearchCV, cross_val_score
from sklearn.svm import SVC
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score, mean_squared_error, r2_score
from sklearn import metrics
from sklearn.preprocessing import FunctionTransformer
from skorch.callbacks import EarlyStopping
from sklearn.pipeline import Pipeline
from skorch import NeuralNetRegressor
import pickle
import emoji
import requests
from bs4 import BeautifulSoup
from sklearn.linear_model import LogisticRegression, LinearRegression
from sklearn.model_selection import train_test_split
import warnings
from sklearn.metrics.pairwise import linear_kernel
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords

from nltk.tokenize.treebank import TreebankWordDetokenizer

In [16]:
# loading merged dataset
initial_df = pd.read_csv('Data/Merged_TA_Gmaps_Dataset_2.0.csv')

In [17]:
df = initial_df.drop(['Unnamed: 0'],axis=1)

# Converting to Lowercase
df["review_full"] = df["review_full"].str.lower()

# df['review_full'] = df['review_full'].apply(lambda x: re.sub(r'[^a-zA-Z0-9\s]', '', x))


# Removing punctuation and replacing with a space - this is to take care of any events where
# a reviewer has not left a space between their punctuation and words
import string
df['review_full'] = df['review_full'].apply(lambda x: ''.join([' ' if char in string.punctuation else char for char in x]))

# Removing all double spaces that may be created by the above, or occur naturally in the dataset
df['review_full'] = df['review_full'].str.replace('  ', ' ')


# Removing stopwords
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))
def stopwords(text):
    return " ".join([word for word in str(text).split() if word not in stop_words])
df["review_full"] = df["review_full"].apply(lambda text: stopwords(text))

# Removing URLS
def urls(text):
    url_pattern = re.compile(r'https?://\S+|www\.\S+')
    return url_pattern.sub(r'', text)

df["review_full"] = df["review_full"].apply(lambda text: urls(text))

# Implementing Lemmatisation to get the base form of each word

# lemmatizer = WordNetLemmatizer()
# def lemming(text):
#     a = word_tokenize(text)
#     answer = list(map(lambda x: lemmatizer.lemmatize(x), a))
#     return answer

# df["review_full"] = df["review_full"].apply(lambda text: lemming(text))

df[['review_full']].sample(5)

                                              review_full
740249  probably best bar london know people complaini...
166368  great food excellent service gave us something...
214627  fantastic breakfast place bit crowded maybe ne...
723282  went last night seriously annoyed despite livi...
292365  think cant get better everything restaurant tr...

In [18]:
# summary of the number of reviews for each type of restaurant, as defined by Google Maps
df.groupby('primaryType').agg({'primaryType': 'count'})

                           primaryType
primaryType
american_restaurant              15443
art_gallery                        271
bakery                            1835
bar                             104554
barbecue_restaurant               4110
beauty_salon                       298
brazilian_restaurant              1849
breakfast_restaurant              3439
brunch_restaurant                  847
cafe                             15107
chinese_restaurant               13173
clothing_store                     455
coffee_shop                       2688
department_store                   164
event_venue                       3286
french_restaurant                57285
greek_restaurant                 10830
grocery_store                       55
hair_salon                         855
hamburger_restaurant             11747
historical_landmark                713
hotel                             2942
indian_restaurant                79247
indonesian_restaurant              499
italian_restaurant               96619
japanese_restaurant              19622
korean_restaurant                 1991
lebanese_restaurant               7678
market                             627
meal_takeaway                     1692
mediterranean_restaurant         18370
mexican_restaurant               12358
middle_eastern_restaurant         5679
museum                            1944
night_club                        1548
performing_arts_theater            246
pizza_restaurant                 14464
point_of_interest                   99
ramen_restaurant                  2131
restaurant                      296972
sandwich_shop                     1904
seafood_restaurant               21679
spanish_restaurant               16094
steak_house                      55544
sushi_restaurant                  5078
thai_restaurant                  13201
turkish_restaurant               21034
vegan_restaurant                  6087
vegetarian_restaurant             1361
vietnamese_restaurant             5741

In [19]:
restaurant_names = list(df['restaurant_name_clean'].unique())
def get_top_words(column, top_nu_of_words, nu_of_word):
    vec = CountVectorizer(ngram_range= nu_of_word, stop_words='english')
    bag_of_words = vec.fit_transform(column)
    sum_words = bag_of_words.sum(axis=0)
    words_freq = [(word, sum_words[0, idx]) for word, idx in vec.vocabulary_.items()]
    words_freq =sorted(words_freq, key = lambda x: x[1], reverse=True)
    return words_freq[:top_nu_of_words]

df_percent = df.loc[df['primaryType']  == 'japanese_restaurant'] 
# df_percent = df_percent.sample(frac=0.01)

df_percent.set_index('restaurant_name_clean', inplace=True)
indices = pd.Series(df_percent.index)

# Creating tf-idf matrix
tfidf = TfidfVectorizer(analyzer='word', ngram_range=(1, 2), min_df=0, stop_words='english')
tfidf_matrix = tfidf.fit_transform(df_percent['review_full'])

cosine_similarities = linear_kernel(tfidf_matrix, tfidf_matrix)

In [20]:
df_percent['restaurant_name'].unique()

array(['Kanada_Ya_Upper_Street', 'Tanakatsu', '3AKE',
       'Ginza_Onodera_Japanese_Restaurant', 'Robata',
       'Fushan_Japanese_Restaurant', 'Tokyo_Sukiyaki_Tei', 'Zaibatsu',
       'Oka_Restaurant', 'Zuma_London', 'Abeno',
       'Yo_Sushi_Harvey_Nichols', 'Chisou_Japanese_Restaurant',
       'ROKA_Charlotte_Street', 'Umami', 'ROKA_Mayfair', 'ROKA_Aldwych',
       'Mai_Sushi', 'Dinings', 'Tokyo_Diner', 'Hotaru', 'Jin_Kichi',
       'Ichi_Riki', 'Kappa', 'Misato', 'Asakusa', 'Umu', 'Kiku',
       'Shackfuyu', 'SUSHISAMBA_Heron_Tower', 'Chotto_Matte', 'Tomoe',
       'Flesh_Buns_Covent_Garden', 'Yama_Momo', 'Sake_no_Hana', 'Taro',
       'Itsu'], dtype=object)

In [55]:
def recommend(name, cosine_similarities = cosine_similarities):
    
    # Create a list to put top restaurants
    global recommend_restaurant
    recommend_restaurant = []
    
    # Find the index of the hotel entered
    idx = indices[indices == name].index[0]
    
    # Find the restaurants with a similar cosine-sim value and order them from biggest number
    score_series = pd.Series(cosine_similarities[idx]).sort_values(ascending=False)
    
    # Extract top 30 restaurant indexes with a similar cosine-sim value
    top30_indexes = list(score_series.iloc[0:31].index)
    
    # Names of the top 30 restaurants
    for each in top30_indexes:
        recommend_restaurant.append(list(df_percent.index)[each])
    
    # Creating the new data set to show similar restaurants
    global df_new
    df_new = pd.DataFrame(columns=['price_level', 'rating','user_ratings_total','overview'])
    
    # Create the top 30 similar restaurants with some of their columns
    with warnings.catch_warnings():
        warnings.simplefilter(action='ignore', category=FutureWarning)
        for each in recommend_restaurant:
            df_new = df_new.append(pd.DataFrame(df_percent[['price_level', 'rating','user_ratings_total','overview']][df_percent.index == each].sample()))
    
    # Drop the same named restaurants and sort only the top 10 by the highest rating
    df_new = df_new.drop_duplicates(subset=['price_level', 'rating','user_ratings_total','overview'], keep='first')
    df_new = df_new.sort_values(by='user_ratings_total', ascending=False).head(10)
    
    print('Top %s restaurants like %s with similar reviews: ' % (str(len(df_new)), name))
    # print(df_new)
    return df_new
    


recommend('ROKA Mayfair')

Top 10 restaurants like ROKA Mayfair with similar reviews:

,price_level,rating,user_ratings_total,overview
SUSHISAMBA Heron Tower,4.0,4.4,8793.0,Creative Japanese & Latin American sushi in co...
Tokyo Diner,2.0,4.5,2758.0,"Simple Japanese diner serving sushi, bento, no..."
ROKA Charlotte Street,4.0,4.4,2485.0,Premium sushi & grilled Japanese offerings in ...
Zuma London,4.0,4.5,2139.0,"Informal, high-end Modern Japanese with sushi ..."
Shackfuyu,2.0,4.3,1735.0,Izakaya-style dining for Japanese comfort food...
ROKA Mayfair,4.0,4.4,1599.0,Premium sushi & grilled Japanese offerings in ...
Zaibatsu,1.0,4.6,1392.0,Functional venue serving Japanese classics suc...
Tanakatsu,2.0,4.7,1249.0,"Modern outpost serving katsu, sushi rolls & ot..."
Asakusa,2.0,4.4,859.0,Compact Japanese eatery with half-timbered wal...
Oka Restaurant,2.0,4.5,762.0,NaN

In [50]:
# testing the same code outside of the function for review purposes, why am I only getting 5 restaurants when I should be getting 10? # fixed
with warnings.catch_warnings():
    warnings.simplefilter(action='ignore', category=FutureWarning)
    name = 'ROKA Mayfair'
    recommend_restaurant = []

    # Find the index of the hotel entered
    idx = indices[indices == name].index[0]

    # Find the restaurants with a similar cosine-sim value and order them from biggest number
    score_series = pd.Series(cosine_similarities[idx]).sort_values(ascending=False)

    # Extract top 30 restaurant indexes with a similar cosine-sim value
    top30_indexes = list(score_series.iloc[0:31].index)

    # Names of the top 30 restaurants
    for each in top30_indexes:
        recommend_restaurant.append(list(df_percent.index)[each])

    # Creating the new data set to show similar restaurants

    df_new = pd.DataFrame(columns=['price_level', 'rating','user_ratings_total','overview'])

    # Create the top 30 similar restaurants with some of their columns
    for each in recommend_restaurant:
        df_new = df_new.append(pd.DataFrame(df_percent[['price_level', 'rating','user_ratings_total','overview']][df_percent.index == each].sample()))

    # Drop the same named restaurants and sort only the top 10 by the highest rating
    df_new = df_new.drop_duplicates(subset=['price_level', 'rating','user_ratings_total','overview'], keep='first')
    df_new = df_new.sort_values(by='user_ratings_total', ascending=False).head(10)

    print('TOP %s RESTAURANTS LIKE %s WITH SIMILAR REVIEWS: ' % (str(len(df_new)), name))

TOP 10 RESTAURANTS LIKE ROKA Mayfair WITH SIMILAR REVIEWS:

In [56]:
# running a recommendation on the overviews instead

df = initial_df.drop(['Unnamed: 0'],axis=1)

df = df.drop_duplicates(subset=['overview'], keep='first')

# Converting to Lowercase
df["overview"] = df["overview"].str.lower()

# df['review_full'] = df['review_full'].apply(lambda x: re.sub(r'[^a-zA-Z0-9\s]', '', x))


# Removing punctuation and replacing with a space - this is to take care of any events where
# a reviewer has not left a space between their punctuation and words
import string
# df['overview'] = df['overview'].apply(lambda x: ''.join([' ' if char in string.punctuation else char for char in x]))

# Removing all double spaces that may be created by the above, or occur naturally in the dataset
df['overview'] = df['overview'].str.replace('  ', ' ')


# Removing stopwords
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))
def stopwords(text):
    return " ".join([word for word in str(text).split() if word not in stop_words])
df["overview"] = df["overview"].apply(lambda text: stopwords(text))

# Removing URLS
def urls(text):
    url_pattern = re.compile(r'https?://\S+|www\.\S+')
    return url_pattern.sub(r'', text)

df["overview"] = df["overview"].apply(lambda text: urls(text))

# Implementing Lemmatisation to get the base form of each word

# lemmatizer = WordNetLemmatizer()
# def lemming(text):
#     a = word_tokenize(text)
#     answer = list(map(lambda x: lemmatizer.lemmatize(x), a))
#     return answer

# df["review_full"] = df["review_full"].apply(lambda text: lemming(text))

df[['overview']].sample(5)

                                                 overview
200957  menu classic, seasonal lebanese dishes & cockt...
611553  hip restaurant contemporary murals bar stools,...
332728  pub framed goat-themed pictures, painted panel...
571447  set airy townhouse & serving elevated indian f...
824499  rustic italian dishes laid-back restaurant clo...

In [60]:
restaurant_names = list(df['restaurant_name_clean'].unique())
def get_top_words(column, top_nu_of_words, nu_of_word):
    vec = CountVectorizer(ngram_range= nu_of_word, stop_words='english')
    bag_of_words = vec.fit_transform(column)
    sum_words = bag_of_words.sum(axis=0)
    words_freq = [(word, sum_words[0, idx]) for word, idx in vec.vocabulary_.items()]
    words_freq =sorted(words_freq, key = lambda x: x[1], reverse=True)
    return words_freq[:top_nu_of_words]

df_percent = df.sample(frac=0.9)

# df_percent = df.loc[df['primaryType']  == 'brunch_restaurant'] 

df_percent.set_index('restaurant_name_clean', inplace=True)
indices = pd.Series(df_percent.index)

# Creating tf-idf matrix
tfidf = TfidfVectorizer(analyzer='word', ngram_range=(1, 2), min_df=0, stop_words='english')
tfidf_matrix = tfidf.fit_transform(df_percent['overview'])

cosine_similarities = linear_kernel(tfidf_matrix, tfidf_matrix)

In [61]:
df_percent['name'].unique()

array(['Le Vacherin', 'Tredwells', 'Pho', ..., 'The Rosebery',
       'Amerigo Vespucci', 'Princess of Prussia'], dtype=object)

In [62]:
def recommend(name, cosine_similarities = cosine_similarities):
    
    # Create a list to put top restaurants
    recommend_restaurant = []
    
    # Find the index of the hotel entered
    idx = indices[indices == name].index[0]
    
    # Find the restaurants with a similar cosine-sim value and order them from biggest number
    score_series = pd.Series(cosine_similarities[idx]).sort_values(ascending=False)
    
    # Extract top 30 restaurant indexes with a similar cosine-sim value
    top30_indexes = list(score_series.iloc[0:31].index)
    
    # Names of the top 30 restaurants
    for each in top30_indexes:
        recommend_restaurant.append(list(df_percent.index)[each])
    
    # Creating the new data set to show similar restaurants
    df_new = pd.DataFrame(columns=['price_level', 'rating','user_ratings_total','overview'])
    
    # Create the top 30 similar restaurants with some of their columns
    with warnings.catch_warnings():
        warnings.simplefilter(action='ignore', category=FutureWarning)
        for each in recommend_restaurant:
            df_new = df_new.append(pd.DataFrame(df_percent[['price_level', 'rating','user_ratings_total','overview']][df_percent.index == each].sample()))
    
    # Drop the same named restaurants and sort only the top 10 by the highest rating
    df_new = df_new.drop_duplicates(subset=['price_level', 'rating','user_ratings_total','overview'], keep='first')
    df_new = df_new.sort_values(by='user_ratings_total', ascending=False).head(10)
    
    print('Top %s restaurants like %s with similar reviews: ' % (str(len(df_new)), name))
    
    return df_new
recommend('Cocotte Notting Hill')

Top 10 restaurants like Cocotte Notting Hill with similar reviews:

,price_level,rating,user_ratings_total,overview
Gokyuzu Restaurant,2.0,4.5,5421.0,informal family-run turkish spot serving class...
Kanada Ya Ramen Bar,2.0,4.5,3987.0,lively venue serving range traditional japanes...
Elvet Steakhouse,3.0,4.4,3492.0,"relaxed establishment serving steaks, burgers ..."
Galvin La Chapelle,4.0,4.6,2400.0,"galvin la chapelle's little sister, next-door ..."
Coq d Argent,3.0,4.3,2199.0,mellow restaurant & bar serving french cuisine...
Blacklock City,2.0,4.7,2180.0,atmospheric subterranean spot serving meat-foc...
Troubadour London,2.0,4.4,1823.0,long-standing restaurant & music venue serving...
The Walrus and The Carpenter,2.0,4.3,1327.0,traditional corner pub upstairs dining room ce...
Shah Tandoori,2.0,4.6,1289.0,indian cuisine street-corner contemporary rest...
Byron Waterloo,2.0,4.2,1279.0,american-inspired chain diner serving posh ham...